# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# grading outputs
PA*/grading
PA*/*.d
PA*/*.o

#outputs
PA1/lexer
PA2/parser
PA3/semant
PA4/cgen
